<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'enroll_app/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">STEM IL Nobel Project</a>
        </div>
    </nav>
    <div class="container">
        <div id="nobelimg">
            <img id="nobel" src="../static/enroll_app/images/nobel_pic1.jpg" alt="nobel_proj_pic">
        </div>
        <h3 id="aboutstory">About STEM Illinois</h3>
        <p id="aboutstory">STEM Illinois is deeply rooted in the historic mission of land-grant institutions. The mission is to democratize higher education and address the world's most pressing societal challenges, including: the lack of a diverse STEM workforce and lack of access to technology that can decrease health disparities. STEM Illinois will create sustainable STEM programs in multiple neighborhoods through community-based activities in the areas of science, technology, engineering, arts/humanities, math, and medicine. 
        <h3 id="aboutstory">About Nobel Project</h3>
        <p id="aboutstory">Locally, we refer to the program as the "STEM Illinois Nobel Project" and our students as Nobel scholars (as approved by the Nobel Association). Our mission is for the Nobel scholars to think innovatively and engage in transformational thinking through computer science to develop innovative solutions that benefit society, like Nobel Laureates.</p>

    </div>
    
</body>
</html>