<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'enroll_app/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Caregiver</title>
</head>
<body>
    <nav class="navbar navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">STEM IL Nobel Project</a>
        </div>
    </nav>
    <div class="container">
        <h2>Add caregiver for {{participant.first_name}} {{participant.last_name}} </h2><br>
        <h3>Caregiver</h3>
        <form action="/participant/{{participant.id}}/create_caregiver" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Full Name:</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control-sm" id="name" placeholder="Full Name"><br>
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                    <input type="text" name="email" class="form-control-sm" id="email" placeholder="name@example.com"><br>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label">Phone Number:</label>
                <div class="col-sm-10">
                    <input type="text" name="phone" class="form-control-sm" id="phone" placeholder="No - or (); incld area code"><br>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="relationship" class="col-sm-2 col-form-label">Relationship:</label>
                <div class="col-sm-10">
                    <input type="text" name="relationship" class="form-control-sm" id="relationship" placeholder="Grandfather"><br><br>
                </div>
            </div>
    
            <input type="submit"    value="Submit Caregiver Info">
        </form>
        {% for message in messages %}
        <ul>
            <li>{{message}}</li>
        </ul>
        {% endfor %}
    </div>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>