body{
    margin: 0;
    padding: 20px;
}

.navbar-light .navbar-brand{
    color: white;
}

.navbar-light .navbar-text{
    color: white;
}

a#rightlink{
    justify-content: space-between;
    color: white;
}

.col-xs-4{
    width: 365px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
}

.col-xs-4 p{
    color: black;
}

.col-xs-4 h5{
    color: black;
}